[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "==4.5.1.48"
click = "*"
pillow = "*"
pyzmq = "*"
numpy = "*"
python-ulid = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"
mypy = "*"
turret = {editable = true, path = "."}
isort = "*"

[requires]
python_version = "3.9"
