[Unit]
Description=Pin Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/seseikelele/dev/the-turret/pi
ExecStart=python3 pin_service.py

[Install]
WantedBy=default.target